.chat 
  position: relative
  display: grid
  grid-template-columns: 22% auto
  gap: 1rem
  background-color: Snow
    
.left_side_chat 
  display: flex
  flex-direction: column
  gap: 1rem

.chat_container 
  display: flex
  flex-direction: column
  gap: 1rem
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2)
  border-radius: 1rem
  padding: 1rem
  height: auto
  min-height: 80vh
  overflow: scroll

.chat_list 
  display: flex
  flex-direction: column
  gap: 1rem

.right_side_chat 
  display: flex
  flex-direction: column
  gap: 1rem




